.add-yacht-container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-yacht-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-yacht-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .add-yachtInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;
    color: #555;
  }
  
  .add-yachtInput input[type="text"],
  .add-yachtInput input[type="file"],
  .add-yachtInput input[type="checkbox"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-yachtInput input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  
  .add-yachtInput input[type="text"]:focus,
  .add-yachtInput input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .a-y-addBoatBtn{
    padding: 12px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .a-y-addBoatBtn:hover {
    background-color: #0056b3;
  }
  
  .a-y-p {
    font-size: 1rem;
    color: #333;
    margin: 5px 0;
  }
  
